@import "tailwindcss";

@theme {
  --font-mono: 'Roboto Mono', monospace;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    font-family: var(--font-mono);
    font-size: 15px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    height: 100%;
  }
}
